/* SLIDE 4 STYLES */
.form-label {
  display: block;
  text-align: center; }

.form-text {
  width: 100%;
  height: 30px;
  box-shadow: none !important;
  background-clip: padding-box;
  border: 1px solid #C8C6C6;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding-left: 15px; }
  .form-text:focus {
    outline: none;
    border: 1px solid black; }

.form-textarea {
  width: 100%;
  box-shadow: none !important;
  background-clip: padding-box;
  border: 1px solid #C8C6C6;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 30px;
  padding: 15px 15px;
  resize: none; }
  .form-textarea:focus {
    outline: none;
    border: 1px solid black; }

.form-submit {
  display: block;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #C8C6C6;
  border-radius: 5px;
  padding: 10px 60px 10px 60px;
  margin: 0 auto; }

.alert {
  font-family: 'Titillium Web', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: red;
  text-transform: uppercase; }

.alert-name {
  display: none; }

.alert-email {
  display: none; }

.alert-message {
  display: none; }

@media only screen and (max-width: 992px) {
  .contact-row {
    padding-top: 45px; }

  .contact-header {
    font-family: 'Titillium Web', sans-serif;
    font-size: 65px;
    font-weight: 600;
    line-height: 1;
    margin: 0 0 30px 0; }

  .contact-paragraph {
    font-family: 'Titillium Web', sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 2;
    margin: 0 0; }

  .contact-paragraph-end {
    font-family: 'Titillium Web', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 2;
    margin: 0 0; }

  .signature {
    padding-top: 15px;
    text-align: center; }

  .signature-image {
    width: 75%;
    height: auto; }

  .signature-subheader {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #95989A;
    margin: -10px auto 0 -40px; }

  .form-container {
    margin-top: 45px; }

  .form-label {
    font-family: 'Titillium Web', sans-serif;
    font-size: 26px;
    font-weight: 400; }

  .form-text {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 400; }

  .form-textarea {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 400; }

  .form-submit {
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    font-weight: 600; } }
@media only screen and (max-width: 500px) {
  .contact-header {
    font-family: 'Titillium Web', sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
    margin: 0 0 20px 0; }

  .contact-paragraph {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 2;
    margin: 0 0; }

  .contact-paragraph-end {
    font-family: 'Titillium Web', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 2;
    margin: 0 0; }

  .form-label {
    font-family: 'Titillium Web', sans-serif;
    font-size: 22px;
    font-weight: 400; }

  .form-submit {
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    font-weight: 600; } }
@media only screen and (max-width: 375px) {
  .contact-header {
    font-family: 'Titillium Web', sans-serif;
    font-size: 35px;
    font-weight: 600;
    line-height: 1;
    margin: 0 0 20px 0; }

  .contact-paragraph {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    margin: 0 0; }

  .contact-paragraph-end {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 2;
    margin: 0 0; }

  .signature-subheader {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #95989A;
    margin: -10px auto 0 -40px; }

  .form-label {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 400; }

  .form-submit {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: 600; } }
@media only screen and (min-width: 993px) {
  .contact-row {
    padding-top: 45px; }

  .contact-header {
    font-family: 'Titillium Web', sans-serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
    margin: 0 0 30px 0; }

  .contact-paragraph {
    font-family: 'Titillium Web', sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 2;
    margin: 0 0; }

  .contact-paragraph-end {
    font-family: 'Titillium Web', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 2;
    margin: 0 0; }

  .signature {
    padding-top: 15px;
    text-align: center; }

  .signature-image {
    width: 75%;
    height: auto; }

  .signature-subheader {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #95989A;
    margin: -10px auto 0 -40px; }

  .form-container {
    padding-left: 75px;
    margin-top: 15px; }

  .form-label {
    font-family: 'Titillium Web', sans-serif;
    font-size: 26px;
    font-weight: 400; }

  .form-text {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 400; }

  .form-textarea {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 400; }

  .form-submit {
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    font-weight: 600; } }
@media only screen and (min-width: 1599px) {
  .contact-row {
    padding-top: 75px; } }
@media only screen and (min-width: 1800px) {
  .contact-row {
    padding-top: 185px; } }
@media only screen and (min-width: 1000px) and (min-height: 1000px) and (orientation: portrait) {
  .contact-row {
    padding-top: 210px; } }
