@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Bevan|Limelight');
@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri:300,400,500,600,700|Oswald:300,400,500,600,700|Roboto:300,400,500,700,900');

$font-logo: 'Dancing Script', cursive;

$font-hello1: 'Bevan', cursive;
$font-hello2: 'Limelight', cursive;

$font-welcome-message1: 'Roboto', sans-serif;
$font-welcome-message2: 'Oswald', sans-serif;
$font-welcome-message3: 'Hind Siliguri', sans-serif;
