@import 'default/normalize';
@import '../node_modules/bootstrap/scss/bootstrap-grid';
@import 'fonts';
@import 'variables';
@import 'animations';
@import 'slide0';

html, body {
  padding: 0;
  margin: 0;
}

.wrapper {
  overflow-x: hidden;
}

#slide0 {
  float: left;
  display:block;
  position: relative;
  top: 0;
  left: 0;
  z-index: 5;
  margin-top: 0;
  padding-top: 0;
}

.intro-wrapper {
  overflow: hidden;
  margin-top: 0;
  padding-top: 0;
}

.intro1 {
  background-color: #fff;
  margin-top: 0;
  padding-top: 0;
}




.slide {
  float: left;
  display: block;
  z-index: 1;
  position: relative;
  top:0;

}

#slide1 {
  background-color: blue;
}

/* SLIDE 1 STYLES */




#slide2 {
  background-color: blue;

}

#slide3 {
  background-color: #fff;

}

/*
.next {
  position: fixed;
  z-index: 100;
  top: 50%;
  right: 30px;
  width: 50px;
  height: 50px;
  transform:translateY(-25px);
  cursor: pointer;

}

i.navigation {
  font-size: 40px;
  transform:scaleX(1.2);
}

.back {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 30px;
  width: 50px;
  height: 50px;
  transform:translateY(-25px);
  visibility: hidden;
  cursor: pointer;
}
*/
