@import 'default/normalize';
@import 'fonts';
@import 'grid';
@import 'variables';
@import 'animations';

html, body {
  padding: 0;
  margin: 0;
}

.wrapper {
  overflow-x: hidden;
}

#slide0 {
  float: left;
  display:block;
  position: relative;
  top: 0;
  left: 0;
  z-index: 5;
  margin-top: 0;
  padding-top: 0;
}

.intro-wrapper {
  overflow: hidden;
  margin-top: 0;
  padding-top: 0;
}

.intro1 {
  background-color: #fff;
  margin-top: 0;
  padding-top: 0;
}

/* SLIDE 1 STYLES */
.top-bar {
  text-align: left;
}

.logo {
  font-family: $font-logo;
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.empty-space {
  padding-top: 100px;
  padding-bottom: 100px;
}

.welcome-pic {
  position: relative;
  width:80%;
  height: 570px;
  background-image: url('../../img/intro1bw.jpg');
  background-size: cover;
}
.hello {
  position: absolute;
  left: -100px;
  top: 75%;
  padding-left: 20px;
  width: 1140px;
  height: 100px;
  background-color: #FFF69F;
}

.hello-header {
  text-align: left;
  font-family: $font-hello1;
  font-size: 3.3em;
  margin-top: 20px;
  margin-bottom: 0;

}

.welcome-message {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.welcome-message-header {
  font-family: $font-welcome-message3;
  font-size: 2.2em;
  font-weight: 300;
}



.slide {
  float: left;
  display: block;
  z-index: 1;
  position: relative;
  top:0;

}

#slide1 {
  background-color: #F2EFED;

}

/* SLIDE 1 STYLES */
.slide1-header {
  width: 100%;
  padding-top: 100px;
  margin: 0 auto;
}

.about-photo {
  position: relative;
  width: 65%;
  height: 570px;
  margin: 0 0 0 auto;
  background-image: url('../../img/slide1v1.jpg');
  background-size: cover;

}

.about {
  position: absolute;
  top: -55px;
  left: -280px;
  width: 990px;
  height: 100px;
  background-color: #F85563;
  padding: 0 40px;
}

.about-header {
  text-align: left;
  font-family: $font-hello1;
  font-size: 3.3em;
  margin-top: 20px;
  margin-bottom: 0;
  letter-spacing: 5px;
}
.about2 {
  position: absolute;
  top: 75px;
  left: -400px;
}

.about-subheader {
  font-family: $font-welcome-message3;
  font-weight: 300;
  line-height: 2;
  font-size: 2em;
}



#slide2 {
  background-color: #A4564C;

}

#slide3 {
  background-color: $b_dark;

}


.next {
  position: fixed;
  z-index: 100;
  top: 50%;
  right: 30px;
  width: 50px;
  height: 50px;
  transform:translateY(-25px);
  cursor: pointer;

}

i.navigation {
  font-size: 40px;

  transform:scaleX(1.2);
}



.back {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 30px;
  width: 50px;
  height: 50px;
  transform:translateY(-25px);
  visibility: hidden;
  cursor: pointer;
}
