@import 'default/normalize';
@import '../node_modules/bootstrap/scss/bootstrap-grid';
@import 'fonts';
@import 'variables';
@import 'animations';
@import 'mixins';
@import 'slide0';
@import 'slide1';
@import 'slide2';
@import 'slide4';
@import 'navigation';

html, body {
  padding: 0;
  margin: 0;
}

.wrapper {
  overflow: hidden;

}

.overflow-y {
  overflow-y:scroll;
}

#slide0 {
  float: left;
  display:block;
  position: relative;
  top: 0;
  left: 0;
  z-index: 5;
  margin-top: 0;
  padding-top: 0;
}

.intro-wrapper {
  overflow: hidden;
  margin-top: 0;
  padding-top: 0;

}

.intro1 {
  background-color: #fff;
  margin-top: 0;
  padding-top: 0;
}

.slide {
  float: left;
  display: block;
  z-index: 1;
  position: relative;
  top:0;
}

#slide1 {
  background-color: #fff;

}

#slide2 {
  background-color: #fff;
}

#slide3 {
  background-color: #fff;
}

.pad-bot {
  padding-bottom: 60px;
}
